<script>
    window["aa15"] = {
        indice: "aa15",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa15").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find(".feedX").css('display', 'none');
                _containerTela.find(".itemDY").on('click', function() {
                    _containerTela.find(".feedPDF").css('display', 'flex');
                });

                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".feedX").css('display', 'none');
                    course.liberarNavegacao();
                })

            } else {

            }
        }
    })
</script>


<div class="containerAA15 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>

        <div class="barraData posicionar animated fadeIn" px="352" py="791">
            <div class="barraDataInit animated fadeInRightBig delay1_8">
                <div class="barraDataContent animated fadeInRightBig delay2_0 branco">
                    <div class="livro mr30"></div>
                    <div>
                        <div class="tituDa bold size32">
                            LEITURA COMPLEMENTAR 2
                        </div>
                        <div class="mt5 size22 itemDY">
                            Recomendações de proteção aos trabalhadores dos serviços de saúde no atendimento <br>de COVID-19 e outras Síndromes Gripais – pg 14 a 17
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="lista posicionar animated fadeIn size30" px="354" py="250">
            <div class="animated fadeInUp delay0_4 size40 bold branco">
                MEDIDAS DE CONTROLE ADMINISTRATIVO
            </div>
        </div>

        <div class="grafic posicionar animated fadeIn delay1_0" px="354" py="310">

            <div class="item animated fadeInUp delay1_0">
                <div class="size27 bold laranja5 mb30">
                    MAIS EXEMPLOS DE MEDIDAS DE CONTROLE ADMINISTRATIVO:
                </div>
                <ul>
                    <li>
                        Revisão dos procedimentos de limpeza e desinfecção de ambientes e superfícies para garantir as melhores práticas. Essa medida é importante para reduzir a carga viral nos serviços de saúde.
                    </li>
                    <li>
                        Afastamento de trabalhadores doentes e orientações sobre isolamento domiciliar, garantindo os direitos trabalhistas.
                    </li>
                    <li>
                        Limitação do número de trabalhadores em contato com os casos suspeitos ou confirmados de COVID-19.
                    </li>
                </ul>
            </div>

        </div>

        <div class="feedX feed1 feedPDF animated fadeIn">
            <div class="fundoFeedsConteiner"></div>
            <div class="baseFundoFeed posicionar animated fadeIn delay0_2" px="0" py="0">
                <div class="content animated fadeIn branco">

                    <div class="closeX">
                        <i class="fas fa-times"></i>
                    </div>

                    <iframe src="anexos/leituraComplementar3/index.html" frameborder="0"></iframe>

                </div>
            </div>
        </div>



    </div>

</div>