<script>
    window["aa8"] = {
        indice: "aa8",
        status: false,
        video: null
    }

    $("body").on('navegacaoComplete', function() {

        stopVideoAA8();


        if ((course.config[course.indice].id).toUpperCase() == ("aa8").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            _containerTela.find(".feedX").css('display', 'none');

            if (_tela.status == false) {
                _tela.status = true;

                controle();

            } else {

            }

            function controle() {

                window["aa8"].video = document.getElementById("videoAA6");

                _containerTela.find(".feedX").css('display', 'none');

                var _item = null;
                _containerTela.find(".itx").on('click', function() {

                    _item = $(this).attr('item');

                    if (_item == 1) {
                        playVideoAA8()
                    }

                    $(this).attr('ativo', '1')


                    _containerTela.find(".feed" + _item).css('display', 'flex');
                });


                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".feedX").css('display', 'none');

                    stopVideoAA8();


                    var _comp = true;
                    _containerTela.find(".itx").each(function(indice, item) {

                        if (!$(item).attr('ativo')) {
                            _comp = false;
                        }
                    })

                    if (_comp)
                        course.liberarNavegacao();

                });
            }
        }
    })

    function playVideoAA8() {
        if (window["aa8"].video != null) {
            window["aa8"].video.play();
        }
    }

    function stopVideoAA8() {
        if (window["aa8"].video != null) {
            window["aa8"].video.pause();
        }
    }
</script>


<div class="containerAA8 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>

        <div class="barraData posicionar animated fadeIn delay0_2" px="307" py="792">
            <div class="barraDataInit animated fadeInLeftBig delay0_6 itx" item=2>
                <div class="barraDataContent animated fadeInLeftBig delay1_0 branco">
                    <div class="livro mr30"></div>
                    <div>
                        <div class="tituDa bold size32">
                            LEITURA COMPLEMENTAR 1
                        </div>
                        <div class="mt5 size22 itemDY">
                            Fluxo rápido de atendimento de pacientes com sintomas respiratórios em serviços de saúde
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tit posicionar animated fadeIn" px="350" py="240">
            <div class="branco">
                <div class="size38 animated fadeInLeft delay0_4 bold">
                    CONTROLE DE ENGENHARIA - TRIAGEM
                </div>
            </div>
        </div>

        <div class="bloco posicionar animated fadeIn delay0_8" px="405" py="295">

            <div class="step step1 animated fadeIn delay0_2">

                <div class="text">
                    <div class="bold size22 azul1">
                        Distanciamento físico nos serviços de saúde
                    </div>
                    <div class="mt20 mb20 size22">
                        Pacientes com sintomas suspeitos devem esperar atendimento sem contato com os outros usuários.
                    </div>

                    <div class="list">
                        <ul>
                            <li class="animated fadeInUp delay0_8 azul1">
                                Veja orientações da Dra. Margareth Dalcolmo, pneumologista e pesquisadora da Fiocruz, sobre a importância da triagem de pessoas com sintomas de Síndrome Gripal
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="pc itx" item=1>
                    <div class="placeholder">
                        <i class="far fa-play-circle"></i>
                    </div>
                </div>

            </div>

        </div>


        <div class="feedX feed1 animated fadeIn">
            <div class="fundoFeedsConteiner"></div>
            <div class="baseFundoFeed posicionar animated fadeIn delay0_2" px="0" py="0">
                <div class="content animated fadeIn branco">

                    <div class="closeX">
                        <i class="fas fa-times"></i>
                    </div>

                    <video id="videoAA6" class="ytplayer" controls poster="anexos/videoAA8.png">
                        <source src="anexos/videoAA8.mp4" type="video/mp4">
                    </video>

                </div>
            </div>
        </div>


        <div class="feedX feed2 feedPDF animated fadeIn">
            <div class="fundoFeedsConteiner"></div>
            <div class="baseFundoFeed posicionar animated fadeIn delay0_2" px="0" py="0">
                <div class="content animated fadeIn branco">

                    <div class="closeX">
                        <i class="fas fa-times"></i>
                    </div>

                    <iframe src="anexos/leituraComplementar2/index.html" frameborder="0"></iframe>

                </div>
            </div>
        </div>


    </div>

</div>