<script>
    window["aa9"] = {
        indice: "aa9",
        status: false
    }

    $("body").on('navegacaoComplete', function() {



        if ((course.config[course.indice].id).toUpperCase() == ("aa9").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;


            } else {

            }

        }
    })
</script>


<div class="containerAA9 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>



        <div class="tit posicionar animated fadeIn" px="350" py="250">
            <div class="branco">
                <div class="size38 animated fadeInLeft delay0_4 bold">
                    MEDIDAS DE CONTROLE DE ENGENHARIA
                </div>
            </div>
        </div>

        <div class="lista posicionar animated fadeIn size24" px="350" py="350">


            <div class="list">

                <div class="itemX animated fadeIn delay1_4">
                    Caso o serviço de saúde não tenha espaços privativos disponíveis em número suficiente para o atendimento de todos os casos suspeitos ou confirmados de COVID-19, deve ser estabelecida a acomodação dos pacientes em coorte.
                </div>

                <div class="itemX animated fadeIn delay1_4">
                    <div>
                        Isso pode ser feito separando, em uma mesma enfermaria ou área de espera, os pacientes com COVID-19.
                    </div>
                    <ul class="list-style: disc;">
                        <li>
                            Nestas áreas, é fundamental manter distância mínima de 1 metro entre os leitos.
                        </li>
                        <li>
                            Restringir ao máximo o número de acessos (visitantes e trabalhadores) a essa área de coorte.
                        </li>
                        <li>
                            Controlar a movimentação de pessoas e o cruzamento desnecessário de pessoas e serviços.
                        </li>
                    </ul>
                </div>
            </div>

        </div>



    </div>

</div>