<script>
    window["aa10"] = {
        indice: "aa10",
        status: false
    }

    $("body").on('navegacaoComplete', function() {



        if ((course.config[course.indice].id).toUpperCase() == ("aa10").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;


                _containerTela.find(".feedX").css('display', 'none');

                var _item = null;
                _containerTela.find(".itx").on('click', function() {

                    _item = $(this).attr('item');

                    $(this).attr('ativo', '1')


                    _containerTela.find(".feed" + _item).css('display', 'flex');
                });


                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".feedX").css('display', 'none');

                    stopVideoAA8();


                    var _comp = true;
                    _containerTela.find(".itx").each(function(indice, item) {

                        if (!$(item).attr('ativo')) {
                            _comp = false;
                        }
                    })

                    if (_comp)
                        course.liberarNavegacao();

                });


            } else {

            }

        }
    })
</script>


<div class="containerAA10 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>

        <div class="barraData posicionar animated fadeIn delay0_2" px="307" py="792">
            <div class="barraDataInit animated fadeInLeftBig delay0_6 itx" item=1>
                <div class="barraDataContent animated fadeInLeftBig delay1_0 branco">
                    <div class="livro mr30"></div>
                    <div>
                        <div class="tituDa bold size32">
                            LEITURA COMPLEMENTAR 2
                        </div>
                        <div class="mt5 size22 itemDY">
                            Recomendações de proteção aos trabalhadores dos serviços de saúde no atendimento<br> de COVID-19 e outras Síndromes Gripais – pg 12 a 14
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tit posicionar animated fadeIn" px="760" py="250">
            <div class="branco">
                <div class="size38 animated fadeInLeft delay0_4 bold">
                    MEDIDAS DE CONTROLE DE ENGENHARIA
                </div>
            </div>
        </div>

        <div class="lista posicionar animated fadeIn size24" px="800" py="480">


            <div class="list">

                <div class="itemX animated fadeIn delay1_4">
                    Os trabalhadores de saúde que atuam na assistência direta aos pacientes suspeitos ou confirmados de COVID-19 devem trabalhar somente na área da coorte, durante todo o seu turno de trabalho, sem circular por outras áreas de assistência (coorte de profissionais).
                </div>
            </div>

        </div>


        <div class="feedX feed1 feedPDF animated fadeIn">
            <div class="fundoFeedsConteiner"></div>
            <div class="baseFundoFeed posicionar animated fadeIn delay0_2" px="0" py="0">
                <div class="content animated fadeIn branco">

                    <div class="closeX">
                        <i class="fas fa-times"></i>
                    </div>

                    <iframe src="anexos/leituraComplementar3/index.html" frameborder="0"></iframe>

                </div>
            </div>
        </div>



    </div>

</div>