<script>
    window["aa18"] = {
        indice: "aa18",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa18").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;

                _containerTela.find(".feedX").css('display', 'none');
                _containerTela.find(".itemDY").on('click', function() {
                    _containerTela.find(".feedPDF").css('display', 'flex');
                });

                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".feedX").css('display', 'none');
                    course.liberarNavegacao();
                })

            } else {

            }
        }
    })
</script>


<div class="containerAA18 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>

        <!-- <div class="barraData posicionar animated fadeIn" px="352" py="791">
            <div class="barraDataInit animated fadeInRightBig delay1_8">
                <div class="barraDataContent animated fadeInRightBig delay2_0 branco">
                    <div class="livro mr30"></div>
                    <div>
                        <div class="tituDa bold size32">
                            LEITURA COMPLEMENTAR 3
                        </div>
                        <div class="mt5 size22 itemDY">
                            Veja o que diz a Secretaria Estadual de Saúde de Minas Gerais
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="barraData posicionar animated fadeIn" px="307" py="791">
            <div class="barraDataInit animated fadeInLeftBig delay1_8">
                <div class="barraDataContent animated fadeInLeftBig delay2_0 branco">
                    <div class="livro mr30"></div>
                    <div>
                        <div class="tituDa bold size32">
                            LEITURA COMPLEMENTAR 3
                        </div>
                        <div class="mt5 size22 itemDY">
                            Veja o que diz a Secretaria Estadual de Saúde de Minas Gerais
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="lista posicionar animated fadeIn size30" px="354" py="250">
            <div class="animated fadeInUp delay0_4 size40 bold branco">
                ESTRATÉGIAS DE MONITORAMENTO DA EXPOSIÇÃO
            </div>
        </div>

        <div class="grafic posicionar animated fadeIn delay1_0" px="354" py="320">

            <div class="item animated fadeInUp delay1_0">
                <ul>
                    <li>
                        Classificar o grau da exposição em contato de baixo risco ou alto risco.<br>
                        <span class="book_italic">Que tal voltar ao Módulo 2?</span>
                    </li>
                    <li>
                        Alertar sobre os casos suspeitos ou confirmados da infecção.
                    </li>
                    <li>
                        <div>
                            Agir conjuntamente
                        </div>
                        <ul>
                            <li class="td">
                                núcleo de controle de infecções
                            </li>
                            <li class="td">
                                área de saúde e segurança no trabalho
                            </li>
                            <li class="td">
                                gestores e profissionais que atuam no contato <br>direto aos pacientes
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

        <div class="feedX feed1 feedPDF animated fadeIn">
            <div class="fundoFeedsConteiner"></div>
            <div class="baseFundoFeed posicionar animated fadeIn delay0_2" px="0" py="0">
                <div class="content animated fadeIn branco">

                    <div class="closeX">
                        <i class="fas fa-times"></i>
                    </div>

                    <iframe src="anexos/leituraComplementar4/index.html" frameborder="0"></iframe>

                </div>
            </div>
        </div>



    </div>

</div>