/*= AA1
	----------------------------*/

.containerAA10 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                    background-size: cover; */
}

.containerAA10 .baseFundo {
    /* background: url(../../img/aa9.png) no-repeat center;
    background-size: cover; */
    background-color: #fff;
}


/* -------------------------------- 
                
                Main Components 
                
                -------------------------------- */

.containerAA10 .titulo {
    position: absolute;
    width: 602px;
}

.containerAA10 a {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

.containerAA10 .lista {
    position: absolute;
    width: 700px;
}

.containerAA10 .item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 20px;
}

.containerAA10 .text {
    position: relative;
    width: 100%;
}

.containerAA10 .itemBlock {
    position: relative;
    border-radius: 20px;
    border: 5px solid #EC7A50;
    width: 90%;
    overflow: hidden;
}

.containerAA10 .itemBlock .tituloBlock {
    position: relative;
    background: #EC7A50;
    padding: 20px;
}

.containerAA10 .itemBlock .subConteud {
    padding: 10px;
}

.containerAA10 .barraData {
    position: absolute;
    width: 1270px;
    height: 149px;
    overflow: hidden;
}

.containerAA10 .barraDataInit {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FF9C85;
    border-top-right-radius: 200px;
}

.containerAA10 .barraDataContent {
    position: relative;
    width: 90%;
    height: 100%;
    background: #EC7A50;
    border-top-right-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
}

.containerAA10 .livro {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../../img/livro.svg) no-repeat center;
    background-size: contain;
}

.containerAA10 .imgX {
    position: absolute;
    width: 600px;
    height: 748px;
    background: url(../../img/img1AA10.png ) no-repeat center;
    background-size: contain;
}

.containerAA10 .titulo {
    position: absolute;
    width: 687px;
}

.containerAA10 .baseFundoFeed {
    position: absolute;
    width: 1328px;
    height: 747px;
    border: 5px solid #33649E;
    background-color: rgba(35, 34, 34, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999999999999999999999999999999999999999;
}

.containerAA10 .content {
    position: relative;
    width: 1055px;
    height: 580px;
    background-color: #F48C0F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
}

.containerAA10 .feedPDF .baseFundoFeed {
    position: absolute;
    width: 1920px;
    height: 1080px;
    display: flex;
    border: 5px solid rgba(51, 100, 158, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerAA10 .feedPDF .content {
    position: relative;
    width: 95%;
    height: 95%;
    background-color: #F48C0F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    border-radius: 0px;
    overflow: hidden;
}

.containerAA10 .feedPDF iframe {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

.containerAA10 .feedPositivo .content {
    background-color: #40B865;
    width: 800px;
    height: 480px;
}

.containerAA10 .closeX {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.containerAA10 .closeX:hover {
    color: #33649E;
}

.containerAA10 .itx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA10 .txtSA {
    padding: 20px;
}

.containerAA10 .itemDY {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}