/*= AA1
	----------------------------*/

.containerAA14 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                                            background-size: cover; */
}

.containerAA14 .baseFundo {
    background: url(../../img/aa14.png) no-repeat center;
    background-size: cover;
}


/* -------------------------------- 
                                        
                                        Main Components 
                                        
                                        -------------------------------- */

.containerAA14 .tit {
    position: absolute;
    width: 1137px;
    overflow: hidden;
}

.containerAA14 .lista {
    position: absolute;
    width: 1160px;
}

.containerAA14 ul {
    list-style: disc;
    padding: 30px;
}

.containerAA14 .aba {
    position: absolute;
    width: 1160px;
}

.containerAA14 .tabs {
    width: 100%;
    background-color: transparent;
    position: relative;
    perspective: 1000px;
}

.containerAA14 .tabs__form {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    position: relative;
}

.containerAA14 .tabs__label {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* flex: 1; */
    padding: 10px 35px;
    cursor: pointer;
    color: #21A540;
    background-color: #fff;
    border-top: 2px solid #21A540;
    border-left: 2px solid #21A540;
    border-right: 2px solid #21A540;
    border-radius: 10px 10px 0px 0px;
    font-size: 28px;
}

.containerAA14 .tabs__label:hover {
    color: #fff;
    background-color: #30bf58;
}

.containerAA14 .tabs__labelAtivo {
    color: #fff !important;
    background-color: #30bf58 !important;
}

.containerAA14 .tabs__labelAtivo::before {
    position: absolute;
    content: "";
    width: 90%;
    bottom: 0;
    left: 50%;
    margin-left: -45%;
    border-top: 2px solid #fff;
}

.containerAA14 .tabs__content {
    position: absolute;
    width: 100%;
    height: 240px;
    z-index: -1;
    top: 50px;
    left: 0;
    text-align: left;
    padding: 20px;
    transition: opacity 1s, transform 2s;
    background: #30bf58;
    color: #fff;
    font-size: 25px;
    box-shadow: 0px 20px 59px 5px rgba(0, 0, 0, 0.15);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
}

.containerAA14 .tabs__contentAtivo {
    display: flex;
}

@keyframes flip {
    0% {
        transform: rotateX(-50deg);
    }
    50% {
        transform: rotateX(20deg);
    }
    75% {
        transform: rotateX(-15deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}