/*= AA1
	----------------------------*/

.containerAA17 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                                            background-size: cover; */
}

.containerAA17 .baseFundo {
    background: url(../../img/aa17c.png) no-repeat center;
    background-size: cover;
    /* background-color: #fff; */
}


/* -------------------------------- 
                                        
                                        Main Components 
                                        
                                        -------------------------------- */

.containerAA17 .titulo {
    position: absolute;
    width: 602px;
}

.containerAA17 .grafic {
    position: absolute;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.containerAA17 .item {
    position: relative;
    width: 100%;
    /* border-radius: 40px; */
    overflow: hidden;
    /* border: 3px solid #4983C8;
                    padding: 20px; */
    font-size: 26px;
}

.containerAA17 .item2 {
    border: 3px solid #30BA58;
}

.containerAA17 .titulD {
    position: relative;
    padding: 20px;
    background: #4983C8;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "bold";
}

.containerAA17 .item2 .titulD {
    background: #30BA58;
}

.containerAA17 .conteD {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 30px;
    height: 270px;
}

.containerAA17 li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 1.3em;
}

.containerAA17 ul li:before {
    position: absolute;
    content: '✓';
    color: #EC7A50;
    left: 0;
    /* place the SVG at the start of the padding */
    width: 1em;
    height: 1em;
}

.containerAA17 .td {
    padding-left: 1em;
}

.containerAA17 .td:before {
    position: absolute;
    content: '•';
    color: #EC7A50;
    left: 0;
    font-size: 30px;
    /* place the SVG at the start of the padding */
    width: 1em;
    height: 1em;
}

.containerAA17 .barraData {
    position: absolute;
    width: 1270px;
    height: 149px;
    overflow: hidden;
}

.containerAA17 .barraDataInit {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FF9780;
    border-top-left-radius: 200px;
}

.containerAA17 .barraDataContent {
    position: relative;
    width: 90%;
    height: 100%;
    background: #E77A50;
    border-top-left-radius: 200px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 50px;
    left: 10%;
}

.containerAA17 .livro {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../../img/livro.svg) no-repeat center;
    background-size: contain;
}

.containerAA17 .baseFundoFeed {
    position: absolute;
    width: 1920px;
    height: 1080px;
    /* border: 5px solid #33649E; */
    background-color: rgba(35, 34, 34, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999999999999999999999999999999999999999;
}

.containerAA17 .content {
    position: relative;
    width: 90%;
    height: 90%;
    background-color: #F48C0F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 999999999999999999999999999999999999999999999;
}

.containerAA17 .closeX {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.containerAA17 .closeX:hover {
    color: #33649E;
}

.containerAA17 .content .ytplayer {
    position: relative;
    width: 1480px;
    height: 833px;
}

.containerAA17 .feedPDF iframe {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

.containerAA17 .itemDY {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}