/*= AA1
	----------------------------*/

.containerAA25 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                        background-size: cover; */
}

.containerAA25 .baseFundo {
    background: url(../../img/aa15b.png) no-repeat center;
    background-size: cover;
}


/* -------------------------------- 
                    
                    Main Components 
                    
                    -------------------------------- */

.containerAA25 .titulo {
    position: absolute;
    width: 1230px;
    height: 538px;
    background: #6BADE8;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    overflow: hidden;
}

.containerAA25 .titulo div {
    position: relative;
    width: 98%;
    height: 100%;
    right: 2%;
    background: #4988CD;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA25 .list {
    position: relative;
    width: 100%;
}

.containerAA25 .item {
    position: relative;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20px;
    /* padding: 20px 0; */
}

.containerAA25 .icoX {
    position: relative;
    width: 15%;
}

.containerAA25 .txtX {
    position: relative;
    width: 90%;
}

.containerAA25 .lista {
    position: absolute;
    width: 850px;
    height: 131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerAA25 .item {
    position: relative;
    width: 132px;
    height: 131px;
}

.containerAA25 .item1 {
    width: 140px;
    height: 131px;
    background: url(../../img/ico1AA1.png) no-repeat center;
    background-size: contain;
}

.containerAA25 .item2 {
    width: 155px;
    height: 110px;
    background: url(../../img/ico2AA1.png) no-repeat center;
    background-size: contain;
}

.containerAA25 .item3 {
    width: 166px;
    height: 77px;
    background: url(../../img/ico3AA1.svg) no-repeat center;
    background-size: contain;
}

.containerAA25 .item4 {
    width: 155px;
    height: 80px;
    background: url(../../img/ico5AA1.png) no-repeat center;
    background-size: contain;
}

.containerAA25 .item5 {
    width: 80px;
    height: 102px;
    background: url(../../img/ico4AA1.png) no-repeat center;
    background-size: contain;
}

.containerAA25 .item a {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0);
    top: 0;
    left: 0;
}