/*= AA1
	----------------------------*/

.containerAA29 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                                background-size: cover; */
}

.containerAA29 .baseFundoX {
    background: url(../../img/aa26.png) no-repeat center;
    background-size: contain;
    /* background-color: #fff; */
}


/* -------------------------------- 
                            
                            Main Components 
                            
                            -------------------------------- */

.containerAA29 .titulo {
    position: absolute;
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.containerAA29 .subtitulo {
    position: absolute;
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.containerAA29 .subtituloX {
    position: absolute;
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.containerAA29 .subtitulo .number {
    padding-right: 20px;
    border-right: 5px solid #ED1C24;
}

.containerAA29 .icox {
    position: relative;
    width: 120px;
    height: 120px;
    background: url(../../img/icoExcercicio.svg) no-repeat center;
    background-size: contain;
}

.containerAA29 .txtx {
    position: relative;
    width: 1450px;
    padding: 30px;
}

.containerAA29 .subtituloX .txtx {
    position: relative;
    width: 1600px;
    padding: 30px;
}

.containerAA29 .lineBase {
    position: absolute;
    width: 88px;
}

.containerAA29 .lineBase div {
    position: relative;
    width: 100%;
    border: 3px solid #005aab;
}

.containerAA29 .quiz {
    position: absolute;
    width: 1500px;
}

.containerAA29 .item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.containerAA29 .check {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #A7A9AC; */
    border: 1px solid #A7A9AC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.containerAA29 .item:hover .check::after {
    position: relative;
    content: "";
    background-color: #ED1C24;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.containerAA29 .itemAtivo .check:after {
    position: relative;
    content: "";
    background-color: #ED1C24;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.containerAA29 .inativoX {
    pointer-events: none;
}

.containerAA29 .txtD {
    position: relative;
    width: 1450px;
    padding-left: 20px;
}

.containerAA29 .btnConfirmar {
    position: absolute;
    width: 240px;
    height: 66px;
    display: none;
}

.containerAA29 .btnX {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid #ED1C24;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ED1C24;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.containerAA29 .btnX:hover {
    background-color: #ED1C24;
    color: #fff;
}

.containerAA29 .feed {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.776);
    z-index: 99999999999999999999999999999999999999999;
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.containerAA29 .feedPositivo .feedBase {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../img/feedPositivo.png) no-repeat center;
    background-size: cover;
}

.containerAA29 .feedNegativo .feedBase {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../img/feedNegativo.png) no-repeat center;
    background-size: cover;
}

.containerAA29 .feedInt {
    position: absolute;
    width: 900px;
    top: 276px;
    left: 202px;
}

.containerAA29 .subInfo {
    position: relative;
    margin-top: 200px;
}

.containerAA29 .fecharFeed {
    position: absolute;
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
    width: 51px;
    height: 51px;
    top: 100px;
    right: 100px;
    z-index: 9999999999999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA29 .fecharFeed:hover {
    background-color: #fff;
    color: #ED1C24;
}