/*= AA1
	----------------------------*/

.containerAA4 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                        background-size: cover; */
}

.containerAA4 .baseFundo {
    background: url(../../img/aa4.png) no-repeat center;
    background-size: cover;
    /* background-color: #fff; */
}


/* -------------------------------- 
                    
                    Main Components 
                    
                    -------------------------------- */

.containerAA4 .titulo {
    position: absolute;
    width: 602px;
}

.containerAA4 .grafic {
    position: absolute;
    width: 1100px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}

.containerAA4 .item {
    position: relative;
    width: 500px;
    border-radius: 40px;
    overflow: hidden;
    border: 3px solid #4983C8;
}

.containerAA4 .item2 {
    border: 3px solid #30BA58;
}

.containerAA4 .titulD {
    position: relative;
    padding: 20px;
    background: #4983C8;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "bold";
}

.containerAA4 .item2 .titulD {
    background: #30BA58;
}

.containerAA4 .conteD {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 30px;
    height: 270px;
}

.containerAA4 li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 1.3em;
}

.containerAA4 ul li:before {
    position: absolute;
    content: '✓';
    color: #EC7A50;
    left: 0;
    /* place the SVG at the start of the padding */
    width: 1em;
    height: 1em;
}