/*= AA1
	----------------------------*/

.containerAA6 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                            background-size: cover; */
}

.containerAA6 .baseFundo {
    background: url(../../img/aa6a.png) no-repeat center;
    background-size: cover;
}


/* -------------------------------- 
                        
                        Main Components 
                        
                        -------------------------------- */

.containerAA6 .tit {
    position: absolute;
    width: 837px;
    overflow: hidden;
}

.containerAA6 .bloco {
    position: absolute;
    width: 611px;
    /* background-color: #041d37 !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    /* border: 1px solid #FF5900; */
    border-radius: 50px;
}

.containerAA6 .step {
    display: none;
    overflow: hidden;
}

.containerAA6 .step {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #F48C0F; */
    /* border-radius: 20px; */
    /* padding: 0px 40px; */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAA6 .step1 {
    position: relative;
}

.containerAA6 .step1 .pc {
    position: relative;
    width: 774px;
    height: 393px;
    background: url(../../img/pc.png) no-repeat center;
    background-size: contain;
}

.containerAA6 .step1 .videoBase {
    position: absolute;
    width: 583px;
    height: 312px;
    background: rgb(0, 0, 0);
    top: 25px;
    left: 87px;
}

.containerAA6 .step1 .placeholder {
    position: absolute;
    width: 570px;
    height: 322px;
    background: url(../../img/placeAA6.png) no-repeat center;
    background-size: cover;
    top: 20px;
    left: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containerAA6 .step1 .placeholder i {
    color: #ffffff;
    font-size: 200px;
    transition: all 0.5s ease;
}

.containerAA6 .step1 .placeholder:hover i {
    color: #245CA0;
    transform: scale(1.1);
}

.containerAA6 .step1 .text {
    position: relative;
    /* padding: 10px; */
    width: 388px;
}

.containerAA6 .stepXD {
    justify-content: space-between;
}

.containerAA6 .stepXD .imgX {
    position: relative;
    width: 419px;
    height: 100%;
    /* background: url(../../img/img1AA7.png) no-repeat center;
    background-size: cover; */
}

.containerAA6 .barraData {
    position: absolute;
    width: 1270px;
    height: 100px;
    overflow: hidden;
}

.containerAA6 .barraDataInit {
    position: relative;
    width: 100%;
    height: 100%;
    background: #6BADE8;
    border-top-right-radius: 200px;
}

.containerAA6 .barraDataContent {
    position: relative;
    width: 90%;
    height: 100%;
    background: #4988CD;
    border-top-right-radius: 200px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 50px;
}

.containerAA6 .livro {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../../img/lampada.svg) no-repeat center;
    background-size: contain;
}

.containerAA6 .baseFundoFeed {
    position: absolute;
    width: 1920px;
    height: 1080px;
    /* border: 5px solid #33649E; */
    background-color: rgba(35, 34, 34, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999999999999999999999999999999999999999;
}

.containerAA6 .content {
    position: relative;
    width: 90%;
    height: 90%;
    background-color: #F48C0F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 999999999999999999999999999999999999999999999;
}

.containerAA6 .closeX {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.containerAA6 .closeX:hover {
    color: #33649E;
}

.containerAA6 .content .ytplayer {
    position: relative;
    width: 1480px;
    height: 833px;
}

.containerAA6 .feedPDF iframe {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

.containerAA6 .itemDY {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}