/*= AA1
	----------------------------*/

.containerAA7 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                                background-size: cover; */
}

.containerAA7 .baseFundo {
    background: url(../../img/aa7.png) no-repeat center;
    background-size: cover;
}


/* -------------------------------- 
                            
                            Main Components 
                            
                            -------------------------------- */

.containerAA7 .titulo {
    position: absolute;
    width: 883px;
}

.containerAA7 .list {
    position: absolute;
    width: 700px;
}

.containerAA7 .list {
    font-size: 25px;
}

.containerAA7 ul li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 1.5em;
}

.containerAA7 ul li:before {
    position: absolute;
    content: '✓';
    color: #EC7A50;
    left: 0;
    font-size: 40px;
    width: 1.2em;
    height: 1.2em;
}

.containerAA7 .t1 {
    position: relative;
    /* background: #F48C0F;
    color: #fff; */
    font-size: 30px;
    /* padding: 10px;
    text-align: center; */
}