/*= AA1
	----------------------------*/

.containerAA9 {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background: url(../../img/cenario1.jpg) no-repeat center;
                                            background-size: cover; */
}

.containerAA9 .baseFundo {
    background: url(../../img/aa8c.png) no-repeat center;
    background-size: cover;
}


/* -------------------------------- 
                                        
                                        Main Components 
                                        
                                        -------------------------------- */

.containerAA9 .tit {
    position: absolute;
    width: 1137px;
    overflow: hidden;
}

.containerAA9 .lista {
    position: absolute;
    width: 720px;
}

.containerAA9 .lista ul {
    /* font-size: 30px; */
}

.containerAA9 .lista .itemX {
    padding: 20px;
    border-left: 12px solid #EF870F;
    margin: 20px 10px;
    background: linear-gradient(rgba(247, 171, 80, 0.2) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.containerAA9 .imagem {
    position: absolute;
    width: 723px;
    height: 446px;
    background: url(../../img/img1AA11.png) no-repeat center;
    background-size: contain;
}

.containerAA9 .bloco {
    position: absolute;
    width: 433px;
    height: 300px;
    /* background-color: #fff !important; */
    z-index: 999999999;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.containerAA9 .fundoColor {
    background-color: #EC7A50;
    width: 100%;
    height: 100%;
}

.containerAA9 .flexbox-slider {
    display: flex;
    width: 100%;
    height: 100%;
    visibility: hidden;
    flex-direction: column;
}

.containerAA9 .flexbox-slider .flexbox-slide {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    height: 60px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    visibility: visible;
}


/* .containerAA9  .flexbox-slide:hover {
            flex-shrink: 0;
            width: 80%;
          } */

.containerAA9 .activeSlide {
    flex-shrink: 0;
    height: 240px !important;
}

.containerAA9 .text-tab {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 99999999;
    text-align: center;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #9f4524;
    color: #9f4524;
}

.containerAA9 .text-tab i {
    position: absolute;
    top: -2px;
    right: 10px;
    font-size: 50px;
    /* opacity: 0.6; */
}

.containerAA9 .textSlide {
    position: relative;
    /* display: flex;
            justify-content: center;
            align-items: center; */
    width: 100%;
    height: 280px;
    background-color: #EC7A50;
    z-index: 9999999;
    padding: 20px 40px;
}

.containerAA9 ul {
    list-style: disc;
    padding: 30px;
}