<script>
    window["aa4"] = {
        indice: "aa4",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa4").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;

                // _containerTela.find(".feedX").css('display', 'none');
                // _containerTela.find(".itemDY").on('click', function() {
                //     _containerTela.find(".feedPDF").css('display', 'flex');
                // });

                // _containerTela.find(".closeX").on('click', function() {
                //     _containerTela.find(".feedX").css('display', 'none');
                //     course.liberarNavegacao();
                // })

            } else {

            }
        }
    })
</script>


<div class="containerAA4 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>

        <!-- <div class="barraData posicionar animated fadeIn delay2_4" px="350" py="791">
            <div class="barraDataInit animated fadeInRightBig delay2_8">
                <div class="barraDataContent animated fadeInRightBig delay3_0 branco">
                    <div class="livro mr30"></div>
                    <div>
                        <div class="tituDa bold size32">
                            LEITURA COMPLEMENTAR 1
                        </div>
                        <div class="mt5 size26 itemDY">
                            Boletim Epidemiológico 4 - Secretaria de Vigilância em Saúde
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="lista posicionar animated fadeIn size30" px="334" py="235">
            <div class="animated fadeInUp delay0_4 size48 bold branco">
                MEDIDAS DE PREVENÇÃO
            </div>
        </div>

        <div class="grafic posicionar animated fadeIn delay1_0" px="410" py="310">

            <div class="item animated zoomIn delay1_0">
                <div class="titulD">
                    INDIVIDUAIS
                </div>
                <div class="conteD">
                    <ul>
                        <li>
                            Uso de Equipamentos de Proteção Individual (EPI)
                        </li>
                        <li>
                            Higiene básica e distanciamento social
                        </li>
                    </ul>
                </div>
            </div>


            <div class="item item2 animated zoomIn delay1_4">
                <div class="titulD">
                    COLETIVAS
                </div>
                <div class="conteD">
                    <ul>
                        <li>
                            Controle de engenharia
                        </li>
                        <li>
                            Controle administrativo
                        </li>
                    </ul>
                </div>
            </div>


        </div>



    </div>

</div>