<div class="customBase">


    <!-- <div class="lineX posicionar animated fadeIn delay0_4 branco" px="257" py="192"></div> -->

    <div class="btnAjudaX posicionar animated fadeIn delay0_6" px="297" py="970">
        <i class="fas fa-question"></i>
    </div>



    <div class="navInit nav1 bold size20 up animated fadeIn delay0_6">
        <div class="setaEsqBase btnPrev posicionar" px="1124" py="963">
            <div class="icoSet">
                <i class="fas fa-chevron-left mr10"></i>
                <div>
                    ANTERIOR
                </div>
            </div>
        </div>


        <div class="setaDirBase btnNext posicionar" px="1455" py="963">
            <div class="icoSet">
                <div>
                    PRÓXIMO
                </div>
                <i class="fas fa-chevron-right ml10"></i>
            </div>
        </div>
    </div>

    <div class="helpBase animated fadeIn">

        <div class="fundoHelp posicionar" px="279" py="189"></div>

        <div class="txtH txtH1 posicionar" px="394" py="238">
            Nome do curso
        </div>

        <div class="txtH txtH1 posicionar" px="970" py="238">
            Módulo em andamento
        </div>


        <div class="txtH txtH2 posicionar" px="627" py="873">
            Barra de progresso
        </div>

        <div class="txtH txtH3 posicionar" px="310" py="773">
            Clique aqui para ver as orientações de navegação
        </div>


        <div class="txtH txtH4 posicionar" px="1270" py="831">
            Clique para avançar ou voltar uma tela
        </div>

        <div class="txtH txtH5 posicionar" px="1187" py="502">
            Se o botão <span class="bold">PRÓXIMO</span> estiver desabilitado, é porque há algo na tela que ainda não foi clicado. Fique atento à “Mensagem de Orientação” exibida ao lado esquerdo
        </div>

        <div class="btnCloseHelpBase posicionar" px="710" py="720">
            <div class="btnCloseHelp btnFont animated infinite pulse">
                Sair da ajuda
            </div>
        </div>

    </div>

</div>