<script>
    window["aa7"] = {
        indice: "aa7",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa7").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="containerAA7 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>

        <div class="titulo posicionar animated fadeIn" px="372" py="240">
            <div class="animated fadeInUp delay0_6 up size38 bold branco">
                HIGIENE BÁSICA
            </div>
        </div>

        <div class="list posicionar animated fadeIn" px="372" py="365">

            <div class="t1 mb10 bold animated fadeInUp delay1_0 azul1">
                Além da higiene das mãos,<br> são recomendados nos serviços de saúde:
            </div>
            <div class="animated fadeIn delay1_4">
                <ul>
                    <li>
                        equipamentos usados exclusivamente<br> para cada paciente atendido
                    </li>
                    <li>
                        a limpeza e desinfecção ou esterilização dos<br> equipamentos antes do uso em outros pacientes,<br> caso sejam compartilhados
                    </li>
                    <li>
                        pacientes não devem compartilhar utensílios como<br> pratos, copos, talheres, toalhas, roupas de cama ou<br> outros itens com outras pessoas
                    </li>
                </ul>
            </div>

        </div>

    </div>

</div>