<script>
    window["aa13"] = {
        indice: "aa13",
        status: false
    }

    $("body").on('navegacaoComplete', function() {



        if ((course.config[course.indice].id).toUpperCase() == ("aa13").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;


            } else {

            }

        }
    })
</script>


<div class="containerAA13 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>



        <div class="tit posicionar animated fadeIn" px="350" py="250">
            <div class="branco">
                <div class="size38 animated fadeInLeft delay0_4 bold">
                    MEDIDAS DE CONTROLE ADMINISTRATIVO
                </div>
            </div>
        </div>

        <div class="lista posicionar animated fadeIn size24" px="350" py="430">

            <div class="list">
                <div class="itemX animated fadeIn delay1_0">
                    Adequação de políticas ou rotinas de trabalho com o objetivo de reduzir ou minimizar a exposição ao risco.
                </div>

                <div class="itemX animated fadeIn delay1_2">
                    <div>
                        Por exemplo:
                    </div>
                    <ul>
                        <li class="td">
                            Orientação aos pacientes e acompanhantes sobre a necessidade de adotar etiquetas para tossir.
                        </li>
                        <li class="td">
                            Planos para garantir comunicação rápida quando houver dúvidas e preocupações dos trabalhadores.
                        </li>
                    </ul>
                </div>

            </div>


        </div>



    </div>

</div>