<script>
    window["aa20"] = {
        indice: "aa20",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa20").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="containerAA20 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>

        <div class="titulo posicionar animated fadeIn" px="372" py="250">
            <div class="animated fadeInUp delay0_6 up size48 bold branco">
                TRATAMENTO
            </div>
        </div>

        <div class="list posicionar animated fadeIn" px="372" py="355">
            <div class="animated fadeInUp delay0_8">
                Segundo recomendações de diversas organizações de saúde nacionais e internacionais, como Organização Mundial da Saúde, Organização Pan-Americana da Saúde, <span class="book_italic">Center for Disease Control e National Institutes of Health</span>                (EUA) e o <span class="book_italic">National Health System</span> (Reino Unido):

            </div>
            <ul>
                <li class="animated fadeInUp delay1_0">
                    Nenhum fármaco é aprovado para o tratamento de casos leves a moderados, nem prevenção da infecção por SARS-CoV-2.
                </li>
                <li class="animated fadeInUp delay1_2">
                    O uso de alguns fármacos deve ser limitado ao contexto de pesquisas clínicas devidamente registradas, porque existe risco de efeitos adversos e ausência de benefício clínico comprovado.
                </li>
            </ul>
        </div>

    </div>

</div>