<script>
    window["aa21"] = {
        indice: "aa21",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa21").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;



            } else {

            }
        }
    })
</script>


<div class="containerAA21 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>

        <div class="titulo posicionar animated fadeIn" px="372" py="250">
            <div class="animated fadeInUp delay0_6 up size48 bold branco">
                TRATAMENTO
            </div>
        </div>

        <div class="list posicionar animated fadeIn" px="372" py="455">
            <div class="size32 bold laranja4 mb50 animated fadeInUp delay0_8">
                MEDIDAS DE SUPORTE
            </div>
            <ul>
                <li class="animated fadeInUp delay1_0">
                    Tratamento da hipoxemia e do choque.
                </li>
                <li class="animated fadeInUp delay1_2">
                    Controle de funções fisiológicas, como a função renal, e demais complicações.
                </li>
            </ul>
        </div>

    </div>

</div>