<script>
    window["aa6"] = {
        indice: "aa6",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa6").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            _containerTela.find(".feedX").css('display', 'none');

            if (_tela.status == false) {
                _tela.status = true;

                controle();

            } else {

            }

            function controle() {


                _containerTela.find(".feedX").css('display', 'none');

                var _item = null;
                _containerTela.find(".itx").on('click', function() {

                    _item = $(this).attr('item');


                    $(this).attr('ativo', '1')


                    _containerTela.find(".feed" + _item).css('display', 'flex');
                });


                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".feedX").css('display', 'none');


                    var _comp = true;
                    _containerTela.find(".itx").each(function(indice, item) {

                        if (!$(item).attr('ativo')) {
                            _comp = false;
                        }
                    })

                    if (_comp)
                        course.liberarNavegacao();

                });
            }
        }
    })
</script>


<div class="containerAA6 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>

        <div class="barraData posicionar animated fadeIn delay0_2" px="307" py="840">
            <div class="barraDataInit animated fadeInLeftBig delay0_6 itx" item=1>
                <div class="barraDataContent animated fadeInLeftBig delay1_0 branco">
                    <div class="livro mr30"></div>
                    <div>
                        <div class="tituDa bold size32">
                            SAIBA MAIS
                        </div>
                        <div class="mt5 size26 itemDY">
                            Veja as páginas 60 a 64 da Nota Técnica da ANVISA
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tit posicionar animated fadeIn" px="350" py="225">
            <div class="branco">
                <div class="size48 animated fadeInLeft delay0_4 bold">
                    HIGIENE BÁSICA
                </div>
            </div>
        </div>

        <div class="bloco posicionar animated fadeIn delay0_8" px="1047" py="222">

            <div class="azul1 size40 center">
                OS 5 MOMENTOS PARA A<br> <span class="bold size50">HIGIENE DAS MÃOS</span>
            </div>

        </div>

        <div class="feedX feed1 feedPDF animated fadeIn">
            <div class="fundoFeedsConteiner"></div>
            <div class="baseFundoFeed posicionar animated fadeIn delay0_2" px="0" py="0">
                <div class="content animated fadeIn branco">

                    <div class="closeX">
                        <i class="fas fa-times"></i>
                    </div>

                    <iframe src="anexos/leituraComplementar1/index.html" frameborder="0"></iframe>

                </div>
            </div>
        </div>


    </div>

</div>