<script>
    window["aa11"] = {
        indice: "aa11",
        status: false
    }

    $("body").on('navegacaoComplete', function() {



        if ((course.config[course.indice].id).toUpperCase() == ("aa11").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;


            } else {

            }

        }
    })
</script>


<div class="containerAA11 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>



        <div class="tit posicionar animated fadeIn" px="350" py="250">
            <div class="branco">
                <div class="size38 animated fadeInLeft delay0_4 bold">
                    MEDIDAS DE CONTROLE DE ENGENHARIA
                </div>
            </div>
        </div>

        <div class="lista posicionar animated fadeIn size24" px="350" py="350">

            <div class="list">
                <div class="itemX animated fadeIn delay1_0">
                    Medidas adotadas para proteger os trabalhadores da saúde e usuários dos serviços.
                </div>

                <div class="itemX animated fadeIn delay1_2">
                    Adequações dos processos e ambientes de trabalho para prevenir a propagação e reduzir a concentração de agentes infecciosos.
                </div>

                <div class="itemX animated fadeIn delay1_4">
                    O objetivo é minimizar o número de áreas em que existe exposição ao SARS-CoV-2 para diminuir o número de pessoas expostas.
                </div>
            </div>

            <div class="escada">
                <div class="item animated fadeInDown delay1_6 item1">
                    ELIMINAÇÃO
                </div>
                <div class="item animated fadeInDown delay1_8 item2">
                    REDUÇÃO
                </div>
                <div class="item animated fadeInDown delay2_0 item3">
                    ENGENHARIA
                </div>
                <div class="item animated fadeInDown delay2_2 item4 preto">
                    ADMINISTRATIVO
                </div>
                <div class="item animated fadeInDown delay2_4 item5">
                    EPI
                </div>
            </div>

        </div>



    </div>

</div>