<script>
    window["aa5"] = {
        indice: "aa5",
        status: false
    }

    $("body").on('navegacaoComplete', function() {

        if ((course.config[course.indice].id).toUpperCase() == ("aa5").toUpperCase()) {

            var _tela = window[course.config[course.indice].id];
            var _containerTela = $(".container" + (_tela.indice).toUpperCase());

            //posiciona o elemento com base no tamanho real da imagem de fundo COVER
            _containerTela.find(".posicionar").positionCSS({
                box: _containerTela.find('.containerGeral'),
                img_H: course.height,
                img_W: course.width,
            });


            if (_tela.status == false) {
                _tela.status = true;

                controle();

            } else {
                _containerTela.find(".item1 .txF").removeClass('delay1_4')
                _containerTela.find(".item1").removeClass('delay0_8')
                    // _containerTela.find(".item1").addClass('delay0_6')
                _containerTela.find(".item2").removeClass('delay2_0')
                    // _containerTela.find(".item2").addClass('delay0_8')
            }

            function controle() {

                _containerTela.find(".item").css('display', 'none');
                _containerTela.find(".txF").css('display', 'none');

                nextInit(_containerTela.find(".item1"), 2);
                _containerTela.find(".item2").addClass('delay2_0');


                _containerTela.find(".item").on('click', function() {

                    var _item = $(this).attr('item');
                    var _next = parseInt($(this).attr('item')) + 1;
                    var _all = _containerTela.find(".item").length;

                    nextInit($(this), _next);

                    if (_item == _all) {
                        course.liberarNavegacao();
                        _containerTela.find(".barraData").css('display', 'flex');
                    }

                });

                function nextInit(_item, _next) {

                    _item.addClass('itemAtivo');
                    _item.find('.ico').addClass('icoAtivo');
                    _item.find('.ico').removeClass('animated infinite pulse');
                    _item.find('.txF').css('display', 'flex');
                    _containerTela.find(".item" + _next).css('display', 'flex')
                }

                _containerTela.find(".barraData").css('display', 'none');
                _containerTela.find(".feedX").css('display', 'none');
                _containerTela.find(".itemDY").on('click', function() {
                    _containerTela.find(".feedPDF").css('display', 'flex');
                });

                _containerTela.find(".closeX").on('click', function() {
                    _containerTela.find(".feedX").css('display', 'none');
                    course.liberarNavegacao();
                })

            }
        }
    })
</script>


<div class="containerAA5 containerAABase">

    <div class="containerGeral">

        <div class="baseFundo posicionar animated fadeIn delay0_2" px="300" py="200"></div>


        <div class="tit posicionar animated fadeIn" px="350" py="235">
            <div class="branco">
                <div class="size48 animated fadeInLeft delay0_4 bold">
                    HIGIENE BÁSICA
                </div>
            </div>
        </div>

        <div class="list posicionar animated fadeIn" px="350" py="380">

            <div class="its size26">

                <div class="item item1 animated fadeInUp delay0_8" item=1>
                    <div class="ico animated infinite pulse up size26 bold center">
                        <i class="fas fa-check size40 branco"></i>
                    </div>
                    <div class="txtD">
                        <div class="txF animated fadeInLeft delay1_4">
                            Higiene básica e distanciamento social são medidas fundamentais que complementam a proteção derivada do uso dos EPI.
                        </div>
                    </div>
                </div>

                <div class="item item2 animated fadeInUp" item=2>
                    <div class="ico animated infinite pulse up size26 bold center">
                        <i class="fas fa-check size40 branco"></i>
                        <i class="fas fa-plus size40 branco"></i>
                    </div>
                    <div class="txtD">
                        <div class="txF animated fadeInLeft">
                            A higiene das mãos de trabalhadores de saúde, pacientes e visitantes deve ser orientada <br>e monitorada.
                        </div>
                    </div>
                </div>

                <div class="item item3 animated fadeInUp" item=3>
                    <div class="ico animated infinite pulse up size26 bold center">
                        <i class="fas fa-check size40 branco"></i>
                        <i class="fas fa-plus size40 branco"></i>
                    </div>
                    <div class="txtD">
                        <div class="txF animated fadeInLeft">
                            Para os trabalhadores de saúde, esta medida é fundamental em, pelo menos, cinco situações.
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <div class="feedX feedPDF animated fadeIn">
            <div class="fundoFeedsConteiner"></div>

            <div class="baseFundoFeed posicionar animated fadeIn delay0_2" px="0" py="0">
                <div class="content animated fadeIn branco">
                    <div class="closeX">
                        <i class="fas fa-times"></i>
                    </div>
                    <iframe src="anexos/leituraComplementar2/index.html" frameborder="0"></iframe>
                </div>
            </div>
        </div>


    </div>

</div>